<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <!--<h4>About Developer</h4><hr/>-->
    <!--<p>Greetings, <br/>I'm <em>Porimol Chandro</em> a learner of Natural Language Processing(NLP), Natural Language Understanding(NLU), Data Science(DS), Machine Learning(ML), Deep Learning(DL) and open source enthusiast. Currently I'm working as a Data Engineer @EkkBaz.</p>-->
    <h3>References</h3><hr/>
    <ul>
      <li>
        <a href="https://goo.gl/YYjYwm" target="_blank">A rule based bengali stemmer</a>
      </li>
      <li>
        <a href="https://goo.gl/fzpCPv" target="_blank">Design of a Rule-based Stemmer for Natural Language Text in Bengali</a>
      </li>
    </ul>
  </div>
  <div class="sidebar-module">
    <h4>Social Media</h4>
    <ol class="list-unstyled">
      <li><a href="http://twitter.com/porimolchandro" target="_blank">Twitter</a></li>
      <li><a href="https://facebook.com/porimol.chandro" target="_blank">Facebook</a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->